{% include 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Production form</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <div class="row">
        {% for f in form %}
            {% if f.label == 'Error codes' %}
                <select class="form-select" multiple aria-label="multiple select example">
                    {% for field in f %}
                        <option value=""> {{ field }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <div class="col">

                    {{ f }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <input type="submit" value="Submit">
</form>
<p> Jau suvestos gamybos</p>
{% for item in all %}
    Prod No:{{ item.prod_no }} Serial: {{ item.serial_no }} <br/>
{% endfor %}

<script>$(document).ready(function () {
    $('.mdb-select').materialSelect();
});
</script>

</body>
</html>

